body {

    background-image: url('../imagens/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: cover;
    background-attachment: scroll; 
   
}

div.myButton input {
    background: url('imagens/pudim.png') no-repeat;
    background-size: 430px;
    width: 430px;
    height: 430px;
    top: 75%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    position: absolute
}

div.myButton2 input {
    background: url('imagens/strogonoff.png') no-repeat;
    background-size: 430px;
    width: 430px;
    height: 430px;
    top: 115%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    position: absolute
}

div.myButton3 input {
    background: url('imagens/bolo.png') no-repeat;
    background-size: 430px;
    width: 430px;
    height: 430px;
    top: 75%;
    left: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    position: absolute
}

div.myButton4 input {
    background: url('imagens/pizza.png') no-repeat;
    background-size: 430px;
    width: 430px;
    height: 430px;
    top: 115%;
    left: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    position: absolute
}
div.myButton5 input {
    background: no-repeat;
    background-color:transparent;
    top: 2%;
    left: 86.5%;
    border-radius: 100%;
    background-size: 90px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border: 0;
    position: absolute;
}
div.myButton6 input {
    background: no-repeat;
    background-color:transparent;
    top: 20.5%;
    left: 3.5%;
    background-size: 90px;
    width: 90px;
    height: 60px;
    cursor: pointer;
    border: 0;
    position: absolute;
}

div.myButton7 input {
    background: no-repeat;
    background-color:transparent;
    top: 20.5%;
    left: 14.7%;
    background-size: 90px;
    width: 90px;
    height: 60px;
    cursor: pointer;
    border: 0;
    position: absolute;
}

div.myButton8 input {
    background: no-repeat;
    background-color:transparent;
    top: 20.5%;
    left: 26%;
    background-size: 90px;
    width: 90px;
    height: 60px;
    cursor: pointer;
    border: 0;
    position: absolute;
}

div.myButton9 input {
    background: no-repeat;
    background-color:transparent;
    top: 20.6%;
    left: 36%;
    background-size: 90px;
    width: 90px;
    height: 60px;
    cursor: pointer;
    border: 0;
    position: absolute;
}

div.myButton10 input {
    background: no-repeat;
    background-color:transparent;
    top: 20.6%;
    left: 48%;
    background-size: 90px;
    width: 90px;
    height: 60px;
    cursor: pointer;
    border: 0;
    position: absolute;
}

div.myButton11 input {
    background: no-repeat;
    background-color:transparent;
    top: 20.6%;
    left: 58.2%;
    background-size: 90px;
    width: 90px;
    height: 60px;
    cursor: pointer;
    border: 0;
    position: absolute;
}

div.myButton12 input {
    background: no-repeat;
    background-color:transparent;
    top: 20.6%;
    left: 68.2%;
    background-size: 90px;
    width: 90px;
    height: 60px;
    cursor: pointer;
    border: 0;
    position: absolute;
}

div.myButton13 input {
    background: no-repeat;
    background-color:transparent;
    top: 20.6%;
    left: 78%;
    background-size: 90px;
    width: 112px;
    height: 60px;
    cursor: pointer;
    border: 0;
    position: absolute;
}

div.myButton14 input {
    background: no-repeat;
    background-color:transparent;
    top: 20%;
    left: 90%;
    background-size: 90px;
    width: 112px;
    height: 60px;
    cursor: pointer;
    border: 0;
    position: absolute;
}

#txtBusca{
    
    float:center;
    top:5.95% ;
    left: 32.7%;
    border-radius: 50px;
    background-color:white;
    position: absolute;
    padding-right:5px;
    font-style:arial;
    font-size:18px;
    border:none;
    height:40px;
    width: 450px;
  }





/*
div.myButton input {
    background: url('pudim.png') no-repeat;
    background-size: 90px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border: none;
    position: absolute;
  }*/

 
